.kitoblar-filter {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;             
  margin: 30px 0;         
}

.kitoblar-filter button {
  background-color: #f8f9fa;
  color: #495057;      
  border: 1px solid #dee2e6; 
  padding: 10px 24px;      
  font-size: 15px;
  font-weight: 600;         
  border-radius: 30px;      
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03); 
}

.kitoblar-filter button:hover {
  background-color: #ff922b;
  color: #ffffff;            
  border-color: #ff922b;
  transform: translateY(-2px); 
}


.kitoblar-filter button:active {
  transform: translateY(0);    
}
.kitoblar-filter button:focus {
  background-color: #ff922b;
  color:#ffffff
}
